@{
  Layout = "_Layout";
}

<h1>Welcome to the Sport Schedule!</h1>

<p>@Html.ActionLink("See all players", "Index", "Players")</p>
<p>@Html.ActionLink("See all sports", "Index", "Sports")</p>
<p>@Html.ActionLink("See all semesters", "Index", "Semesters")</p>